:root {
  --main-red :#00274D;
  --strawberry: #FEA498;
  --navlinks: #C6A1AC;
  --marigold: #E8E7D5;
  --teal: #AAC6B1;
}




/* Lusitana Font */
.lusitana-regular {
    font-family: "Lusitana", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lusitana-bold {
    font-family: "Lusitana", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  /* Roboto */
  
.roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

/* Castoro */
.castoro {
    font-family: "Castoro Titling", serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* Poppins */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Navbar */
nav {
  background-color: #025B94; /* Dark background */
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
 
  
}

nav img {
  height: 50px; /* Adjust as needed */
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

body.light nav .dark {
  display: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1; /* Make sure ul takes full width */
  justify-content: space-around; /* Evenly spaces items */
  align-items: center;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
  color: white;
}

nav ul li a:hover {
  background-color: #BDD8E6; /* Soft Blush Pink background on hover */
  color: #2D4031!important; /* Dark Green text color */
}


/* Active Link Styles */
nav ul li a.active {
  text-decoration: underline;
  color: #92D1E4;
 
}

body.dark nav ul li a.active {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  
}
nav svg {
  padding-bottom: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    padding: 10px;
  }
}



/* Home */
.home {
   padding: 1rem;
   display: flex;
   background: linear-gradient(to right, #ffffff, #E3F1FF);
  }

  
  .home-one {
    text-align: center;
    flex: 1;
    margin: 1rem;
    padding: 1rem;
  }

  .home h3 {
    color: #71B6D2;
  }

.profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    margin: 1rem;
   
   
}


.home-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
  color: var(--main-red)
}

.home-subtitle {
    font-size: 1.5em;
    font-weight: normal;
    color: var(--main-red);
    opacity: 0.9;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--main-red);
    text-decoration: underline;
   
}

.home-two {
  border-left: 2px solid #71B6D2;
  text-align: center;
  flex: 1;
  


}

.home-bio {
    font-size: 1.2em;
    opacity: 0.8;
    margin-bottom: 30px;
    color:var(--main-red) ;
    text-transform: capitalize;
    padding: 1rem;
    
}



.social-links {
  display: flex;
  flex-direction: column;
  margin: 3rem;text-align: left;

 
}
.social-links a {
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--main-red);
}

.social-links a:hover {
  color: var(--strawberry)
}
.social-links span {
    color: #025B94;
   background-color:white;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 60px;
    border:2px solid #025B94;
}

.social-links span:hover {
  background-color: var(--strawberry);
    color: var(--main-red);
    
}

@keyframes fade-slide-in {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Starts 20px below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Ends at the original position */
  }
}



.social-links a {
  display: block;
  opacity: 0; /* Start with invisible links */
  animation: fade-slide-in 1.2s ease-out forwards;
  transform-origin: top left;
}

.social-links a:nth-child(1) {
  animation-delay: 0.2s;
}

.social-links a:nth-child(2) {
  animation-delay: 0.7s;
}

.social-links a:nth-child(3) {
  animation-delay: 1.2s;
}

.social-links a:nth-child(4) {
  animation-delay: 1.7s;
}

.social-links a:nth-child(5) {
  animation-delay: 2.2s;
}

/* About */
.about {
    padding: 1rem;
   
}

.about h2 {
    font-size: 2em;
    text-align: center;
    color: #00274D;
  
   
}

.about .professional-summary{
  font-size: 1.2em;
 margin: 1rem;
 margin-top: 0;
 /* color: #B8A48D;*/
  color: #34858F;
 
 
}

.about p {
    font-size: 1.2em;
   color: #003366;
  
   
     
    
}

.about h3 {
  color: var(--main-red);
}


.professional-summary p {
  font-weight: bold;
}
.about h4 {
    font-size: 1.5em;
    text-align: center;
}

.recommendation {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 3px 3px 5px 0 var(--marigold);
    padding-left: 2rem;
    
}

.recommendation:hover {
 box-shadow: 3px 3px 3px 0 #B8A48D;
 
}

.recommendation h3 {
  color: #B8A48D;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
    font-size: 1em;
  }
  
  .button-container a {
    color: var(--strawberry);
    color: #CFB765
  }

  .button-container a:hover {
    color: var(--strawberry);
  }

  .licenses {
    padding: 1rem;
    margin: 1rem;
    margin-left: 5rem;
    border-left: 2px solid var(--marigold);
  
  
  }

  .licenses h3 {
    color: #34858F;
    padding: 1rem;
    padding-bottom: 0;
  }

  .licenses ul {
    list-style-type: none;
  margin-left: 1rem;
  color: #00274D;
  
  
  
  }

  .licenses ul li {
    font-size: 1.2em;
    padding-top: 1rem;
   
  }

  .licenses a {
    color: var(--teal);
    margin: 1rem;
    text-align: right;
    font-size: 1em;
    margin-bottom: 5px;
  }

  .licenses a:hover {
    color: var(--strawberry);
  }

  


  .experience {
    margin: 1rem;
    padding: 1rem;
    box-shadow: -3px -3px 5px 0 var(--marigold);
   
  }

  .experience:hover {
    box-shadow: -3px -3px 5px 0 #B8A48D;
    transform: translate(-2px);
  }

  .experience h3 {
    padding: 1rem;
    color: #B8A48D;
   text-align: center;
  
  }
  

  .experience ul {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #00274D;
    opacity: 0.9;
    padding-left: 2rem;
    
   
        
  }

  .experience ul li {
    margin-bottom: 20px;
    margin-left: 1rem;
  }

    .technologies {
        margin: 1rem;
       
    }
  
    .technologies h3 {
      color: #34858F;
        text-align: center;
    }

    .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
        margin: 20px 0;
       padding: 1rem;
    }
    
    .about i {
        font-size: 36px;
    }
  
    .outro {
        padding: 1rem;
        margin: 1rem;       
       
        
    }

    .outro h3 {
        text-align: left;
    }

    .outro p {
      opacity: 0.9;
    }

    .outro a {
      color: var(--teal);
    }

    .outro a:hover {
      color: var(--navlinks)
    }

    .redirect {
        margin: 1rem;
        padding: 1rem;
   
        
    }

    .redirect h3 {
        text-align: left;
    }

    .redirect a {
        font-size: 1.5em;
        margin-left: 1rem;
        color: var(--teal);
    }

    .redirect a:hover {
        color: var(--navlinks);
    }

    /* Icons */
    @keyframes slide {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-50%);
      }
    }
    
    .technologies {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-top: 20px;
      margin-top: 25px;
      margin-bottom: 30px;
    }
    
    .icons {
      display: flex;
      width: 200%;
      height: 70px;
      animation: slide 30s linear infinite;
    }
    
    .icons i {
      font-size: 3rem; /* Adjust the size as needed */
      margin-left: 45px;
    }
    
   
/* Atlas */
.atlas {
  background-color: #F5F5F5;
  padding: 1rem;
 padding-top: 0;
}


.atlas h1 {
  text-align: center;
    padding: 1rem;
    color: #342F7F;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0;
}

.atlas h1 hr {
  margin-top:0;
  padding-top: 0;
  width: 300px;
  margin: 0 auto;
  border: none;
      height: 3px;
      background-color: #E4440A;
      opacity: 1;
      border-radius: 1px;
}

.atlas-home {
  padding: 1rem;
   text-align: center;
   background-color: white;
  margin: 1rem;
  box-shadow: 2px -2px 5px gainsboro;
  
}


.atlas-home img {
  height: 360px;
  width: auto;
  margin: 1rem;
  box-shadow: 2px -1px 5px #342F7F;
 
}

.atlas-link  {
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid white;
}

.atlas-link a {
  font-size: 20px;
}

.atlas-link h4 {
  font-weight: bold;
  color: #342F7F;
  text-decoration: underline;
 
}

.atlas-overview {
  padding: 1rem;
  padding-bottom: 0;
}

.atlas-overview h2 {
  color: #342F7F;
  text-decoration: underline;
  margin-left: 1rem;
}

.atlas-overview p,
.atlas-layout p {
  font-size: 20px;
  color: #009F55;
  margin-left: 1rem;
}

.atlas-layout h3 {
  color: #342F7F;
  margin-left: 1rem;
  text-decoration: underline;

}

.atlas-features {
  padding: 1rem;
  padding-top: 0;
  margin-left: 1rem;
  padding-bottom: 0;
}

.atlas-features h3 {
  color: #342F7F;
  text-decoration: underline;
}

.atlas-features ul {
  color:#009F55;
  font-size: 19px;
  list-style-type:decimal;
}

.auction-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; /* Adjust the gap between items if needed */
  list-style-type: none;
  padding: 0;
  margin: 1rem;

}

.auction-features li {
  text-align: center;
  font-size: 18px;
  font-family: "Poppins", sans-serif!important;
  background-color: white;
  color:#342F7F;
  padding: 2px;
  text-decoration: underline;
}

.atlas-features .auction-features img  {
  height: 320px;
  width: auto;
 text-align: center;
 margin: 1rem;
 box-shadow: 2px -1px 5px #342F7F;
}

.atlas-conclusion  {
  text-align: center;
}

.atlas-conclusion h4 {
  color:#342F7F;
  text-decoration: underline;
}

.atlas-conclusion h5 {
  color:#342F7F;
  text-transform: uppercase;
  font-weight: bold;

}

.atlas-conclusion h6 {
  color:#009F55;
  font-size: 18px;
    margin-bottom: 0;
  
}

.atlas-conclusion p {
  text-transform: uppercase;
  font-size: 16px;
  color:#009F55;

}

.stack-wrap {
  display: flex;
  justify-content: center;
   margin: 0 auto;
  text-align: center;
}

.stack {
  padding: 1rem;
  padding-top: 0;
}

.stack a {
  font-size: 17px;
  
  
}

.atlas-contact-image {
  display: block; 
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.atlas-contact-image img {
  height: 350px;
  width: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 2px -1px 5px #342F7F;
  text-align: center;
}

@media (max-width: 768px) {

  
  .atlas-home img  {
    max-width: 100%;
    height: auto;
    padding: 1rem;
    display: block;
    margin: 0 auto;
  }

  ul.auction-features {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    width: 100%;
  }

  .auction-features li {
  width: 100%;
  padding: 1rem;
  display: block;
    margin: 0 auto;
    text-align: center;
    
  }

  .auction-features img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    text-align: center;
   
  }

  .atlas-contact-image {
    width: 100%;
  }

  
  .atlas-contact-image img {
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
/* Evergreen */

.evergreen {
  background-color: #F2F7F0;
}

.evergreen h1 {
  color: #1F5229;
  font-family: "Amatic SC", sans-serif;
  padding: 0.5rem;
  text-align: center;
  font-size: 60px;
  font-weight: bold;

}

.evergreen-link  {
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid white;
}

.evergreen-link h4 {
  color:#1F5229;
}

.evergreen-link a {
  font-size: 20px;
}

.evergreen-overview {
  padding: 1rem;
}

.evergreen-overview h2 {
  margin-left: 1rem;
  color:#2D4031;
  text-decoration: underline;
}

.evergreen-overview p {
  font-size: 20px;
  margin-left: 2rem;
  padding: 0;
  color:#497351;

}

.evergreen-problem {
 margin-left: 2rem;
}

.evergreen-problem h3 {
 color:#2D4031;
 text-decoration: underline;
 text-align: center;
}

.evergreen-problem p {
  color:#4BB543;
  font-size: 20px;
  text-align: center
}

.evergreen-features {
  padding: 1rem;
}
.evergreen-features h2 {
  color:#2D4031;
  text-decoration: underline;
  margin-left: 3rem;

}

.evergreen-features h4 {
  color:#2D4031;
  margin-left: 5rem;
  text-decoration: underline;


}

.evergreen-features ul,
.evergreen-features p {
  color:#4BB543;
  font-size: 20px;
  list-style-type: none;
  
}

.evergreen-features ul li {
  padding-bottom: 0.5rem;
}

.evergreen-home,
.evergreen-market,
.evergreen-basket,
.evergreen-clear ,
.evergreen-login,
.evergreen-dashboard{
  display:  block;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
 
}

.evergreen-home img,
.evergreen-market img,
.evergreen-basket img,
.evergreen-clear img,
.evergreen-login img,
.evergreen-dashboard img
 {
  height: 360px;
  width: auto;
  display:  block;
  margin: 0 auto;
  background-color: white;
  padding: 2rem;
   box-shadow: 2px -1px 5px #1F5229;
}

.evergreen-checkout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; /* Adjust the gap between items if needed */
  list-style-type: none;
  padding: 0;
  margin: 1rem;

}

.evergreen-checkout li {
  text-align: center;
  font-size: 17px;
  font-family: "Poppins", sans-serif!important;
  background-color: white;
  color:#497351;
  padding: 2px;
  text-decoration: underline;
}

.evergreen-checkout img  {
 height: 250px;
 width: auto;
 text-align: center;
 margin: 1rem;
 box-shadow: 2px -1px 5px #497351;
}

.evergreen-conclusion  {
  text-align: center;
}

.evergreen-conclusion h4 {
  color:#2D4031;
  text-decoration: underline;
}

.evergreen-conclusion h5 {
  color:#2D4031;
  text-transform: uppercase;
  font-weight: bold;

}

.evergreen-conclusion h6 {
  color:#497351;
  font-size: 18px;
    margin-bottom: 0;
  
}

.evergreen-conclusion p {
  text-transform: uppercase;
  font-size: 16px;
  color:#4BB543;

}

.stack-wrap {
  display: flex;
  justify-content: center;
   margin: 0 auto;
  text-align: center;
}

.evergreen-conclusion .stack {
  padding: 1rem;
  padding-top: 0;
}

 .evergreen-conclusion .stack a {
  font-size: 17px;
  color: orange;
  
}

.stack a:hover {
  color: orangered;
}
.projects {
  background-color: white;
}

@media (max-width: 768px) {
   .evergreen h1 {
    font-size: 50px;
   }

  .evergreen-home,
  .evergreen-market,
  .evergreen-basket,
  .evergreen-checkout,
  .evergreen-clear,
  .evergreen-login,
  .evergreen-dashboard {
    padding: 0;
    margin: 1rem;
    max-width: 100%;
  }

  .evergreen-checkout {
    display: flex;
    flex-direction: column;
  }

  .evergreen-home img,
  .evergreen-market img,
  .evergreen-basket img,
  .evergreen-checkout img,
  .evergreen-clear img,
  .evergreen-login img,
  .evergreen-dashboard img {
    display: block;
    margin: 0 auto;
    padding: 1rem;;
    width: 100%;
    height: auto;
  }
}
/* Contact */
 /* Contact */
.contact {
  background-color: #FFE6E6;
  padding: 1rem;
  box-shadow: 2px 2px 2px 2px white;
  background-color: var(--marigold);
}
 .contact .ty {
  padding: 1rem;
  text-align: center;
  font-size: 24px;
  color: #4A4A4A;
  margin: 1rem;
  margin-top: 5rem;
  border-radius: 50px;
  box-shadow: 0 1px 2px #B8A48D;
}

.ty span {
  margin: 0.5rem;
  padding: 0.5rem;
  padding-right: 0.8rem;
  border-radius: 50px;
}

.contact img {
  height: 300px;
  width: auto;
 border-radius: 12px;
 margin: 20px;
 box-shadow: 2px 2px 5px lightgray;
}

.contact .thankyou {        
  display:block;
  margin: 0 auto;
  padding: 2rem;


}

.contact-info {
  background-color:white; /* light ivory */
  color: var(--neutral-dark); /* charcoal */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px #B8A48D;
  max-width: 400px;
  font-family: 'Lusitana', serif; /* or whichever font you are using */
  text-align: center; 
  margin: 0 auto;
  margin-bottom: 1rem;
  

}

.contact-info:hover {
  box-shadow: -2px 2px 2px #B8A48D;
  transform: translate(-2px);
}

.contact-info h2 {
color: #4A4A4A;
padding-bottom: 0;
margin-bottom: 0;

}

.phone-number {
 margin-bottom: 1rem;
 font-size: 22px;
 font-weight: bold;
 color: #B8A48D;

 
}

.phone-number:hover {
  color: var(--strawberry);
  text-decoration: underline;
}

.email {
  padding: 1rem;
}

.email h3 {
  padding: 0;
  margin: 0;
  color: #4A4A4A;

}

.email a {
  color: var(--strawberry);
  font-size: 21px;
  padding-top: 0;
  margin-top: 0;
  color: #B8A48D;
}

.email a:hover {
 color: var(--strawberry);
}

.contact-info h4,
.contact-info h5 {
  padding-top: 0.5rem;
  color: #4A4A4A;
  padding-bottom: 0;
  margin-bottom: 0;
}

.prof-profiles ,
.hobby  {
  padding: 5px;
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  gap: 20px; /* Add some space between the items */
  padding-bottom: 10px;
}

.prof-profiles a,
.hobby a {
  color: var(--strawberry);
  color: #B8A48D;
}

.prof-profiles a:hover,
.hobby a:hover {
  color: var(--strawberry);

}

.twitter h4 {
  color: #4A4A4A;
  padding: 0;
  margin: 0;
}

.cv-d {
  text-transform: uppercase;
  padding-top: 1rem;
}

.contact-info .cv {
  color: var(--strawberry);
  color: #B8A48D;
 font-size: 22px;
 
}

.contact-info .cv:hover {
  color: var(--strawberry);

}

.thankyou {
  display: flex;
  justify-content: center; /* Centers the images horizontally */
  align-items: center; /* Centers the images vertically */
  gap: 10px; /* Adjust the space between the images */
  margin: 0 auto; /* Centers the entire div within its container */
  width: fit-content; /* Ensures the div only takes up as much space as necessary */
}


/*  */
.atlas-card {
  background-color: #F2F2E0; /* light ivory */
  color: var(--neutral-dark); /* charcoal */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  font-family: 'Lusitana', serif; /* or whichever font you are using */
}

.atlas-card:hover {
  transform: translateY(-2px);
  /* Slight lift on hover */
  background-color:  #F2EFD2;
}

body.dark .atlas-card:hover {
  background-color: #2A3134;
}
.atlas-card h2 {
  color: var(--main-red); /* deep maroon */
  margin-bottom: 10px;
  font-size: 1.8em;
  text-align: center;
 
}


.atlas-card hr {
  border: 1px solid var(--navlinks); /* muted mauve */
  margin-bottom: 20px;
}

.atlas-images img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.atlas-summary p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.atlas-summary strong {
  color: var(--teal); /* soft teal */
}

.atlas-links {
  margin-top: 20px;
}

.atlas-links a {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: var(--navlinks);
  background-color: white;
}

.atlas-links a:hover {
  background-color: var(--main-red); /* deep maroon */
}

.code-links {
  margin-top: 10px;
}

.code-links a {
  display: block;
  color: var(--teal); /* charcoal */
  text-decoration: none;
  margin-bottom: 5px;
}

.code-links a:hover {
 color: var(--navlinks);
 
}

.fontawesome-icon {
  margin-left: 5px;
}

/*  */

.back-arrow {
  padding: 2px;
  margin-left: 2rem;
}

.evergreen-card {
  background-color: #F2F2E0; /* light ivory */
  color: var(--neutral-dark); /* charcoal */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  font-family: 'Lusitana', serif; /* or whichever font you are using */
}

.evergreen-card:hover {
  transform: translateY(-2px);
  /* Slight lift on hover */
  background-color:  #F2EFD2;
}

body.dark .evergreen-card:hover {
  background-color: #2A3134;
}

.evergreen-card h2 {
  color: var(--main-red); /* deep maroon */
  margin-bottom: 10px;
  font-size: 1.8em;
  text-align: center;
}

.evergreen-card hr {
  border: 1px solid var(--navlinks); /* muted mauve */
  margin-bottom: 20px;
}

.evergreen-image img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  
}

.evergreen-summary p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.evergreen-summary strong {
  color: var(--teal); /* soft teal */
}

.evergreen-links {
  margin-top: 20px;
}

.evergreen-links a {
  display: inline-block;
  background-color: var(--accent); /* vibrant coral */
  color: var(--mainred); /* light ivory */
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: var(--navlinks);
  background-color: white;
}

.evergreen-links a:hover {
  background-color: var(--main-red); /* deep maroon */
}

.code-links {
  margin-top: 10px;
}

.code-links a {
  display: block;
  color: var(--teal); /* charcoal */
  text-decoration: none;
  margin-bottom: 5px;
}

.code-links a:hover {
  color: var(--navlinks); /* vibrant coral */
  background-color: #27474E;
}

.fontawesome-icon {
  margin-left: 5px;
}

/* Projects */
.projects ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  margin: 0 auto;
}

.detail {
  display: inline-flex;
  padding: 1rem;
  color: var(--strawberry);

}

.detail:hover {
  color: var(--navlinks);
}
.detail svg {
  margin-top: 3px;
}

/* Dark Mode Configuration */

button.toggle-mode {
color: #D5CCB4;
background-color: #00274D;
border: 1px solid #00274D;

}

button.toggle-mode:hover {
  color: var(--marigold);
  transition: all .2s ease-in-out;
}

body.dark button.toggle-mode {
  color: var(--marigold);
  background-color: #3A2C40;
  border: 1px solid #3A2C40;
  
  }
  
 body.dark button.toggle-mode:hover {
    color: var(--teal);
    transition: all .2s ease-in-out;
  }

body.dark {
  background-color: #0B1720;
  
}

/* Home */
body.dark nav {
  background-color: #3A2C40;
}

body.dark nav .light {
  display: none;
}

body.dark nav ul li a {
  color:  #84B3C0;
}

body.dark nav ul li a:hover {
  background-color: white; /* Soft Blush Pink background on hover */
  color: #0B1720; /* Dark Green text color */
}

body.dark .home {
  background-color: #0B1720;
}

body.dark .home h1 {
  color: white;
}

body.dark .home .cta-buttons a {
  background-color: #84B3C0;
  border: 2px solid white;
  color: #0B1720;
  font-weight: bold;
}

body.dark .home .cta-buttons a:hover {
  background-color: silver;
  color: white;
}

body.dark .social-links span {
  background-color: var(--teal);
  color: #0B1720;
  border: 2px solid white;
}

body.dark .social-links a {
  color: white;
}
body.dark .social-links a:hover {
  background-color: white;
  border: 1px solid var(--teal);
  color: #84B3C0;
  padding: 2px;
  border-radius: 5px;
}

body.dark h2 {
  color: var(--marigold);
}

body.dark h3 {
  color: white;
}

body.dark p
 {
  color: #84B3C0;
}

body.dark .button-container a {
  color: var(--marigold);
}

body.dark .button-container a:hover {
  color: var(--navlinks);
}

body.dark .experience ul {
  color: #84B3C0;


}

body.dark .outro a {
  color: var(--strawberry);
}

body.dark .outro a:hover {
  color: var(--teal);
} 

body.dark .redirect a {
  color: var(--strawberry);
}

body.dark .redirect a:hover {
  color: var(--teal);
}

/* Cards Page  */
body.dark .atlas-card {
 background-color:  #22282B;
}

body.dark .evergreen-card {
  background-color:  #22282B;

}

body.dark .atlas-links a:hover {
  background-color:#3A2C40;
}

body.dark .evergreen-links a:hover {
  background-color:#3A2C40;
}

body.dark .code-links a {
  color: #0B1720;
}

body.dark .code-links a:hover {
  background-color: var(--teal);
  
 }
/* Contact Page */
body.dark .contact {
  background-color: #0B1720;
  border: 1px solid  #0B1720;;
}
body.dark .contact-info {
  background-color:  #22282B;
  box-shadow: 0 1px 2px #84B3C0;
}

body.dark .contact-info a {
  color: #84B3C0;
}

body.dark .contact-info a:hover {
  color: var(--teal);
}

body.dark .contact-info h4 {
  color: white;
}

body.dark .contact-info h5 {
  color: white;
}

body.dark .licenses ul {
  color: var(--navlinks)
}

body.dark .ty {
  background-color: #0B1720;
  margin-top: 5rem;
  box-shadow: 0 1px 2px #84B3C0;
  
}

body.dark p.ty {
  color: white;
}

body.dark .ty span {
  color: white!important;
  background-color: #0B1720;
}

body.dark .professional-summary {
  color: #84B3C0;
}


body.dark .recommendation {
  box-shadow: none;
}

body.dark .experience {
  box-shadow: none;
  background-color: black;
  border-radius: 5px;
 
}

body.dark .projects {
  background-color: #0B1720;
}

body.dark .thankyou {
  display: none;
}
/* Responsive Web Design */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Ensures the menu takes up full width */
    position: absolute; /* Position it relative to the parent */
    right: 0; /* Aligns it to the far right */
    top: 0; /* Aligns it to the top */
    padding: 10px; /* Adjust the padding as necessary */
    cursor: pointer; /* Makes it clickable */
    color: white;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: var(--main-red);
    padding: 10px;
    border-top: 1px solid white;
    z-index: 1000;
  }

  body.dark .menu {
    background-color: #3A2C40;
  }

  .menu.open {
    display: flex;
  }

  .menu li {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .menu li:last-child {
    margin-bottom: 0;
  }
  .about {
    padding: 0;
  }

  .about h2 {
    padding-top: 1rem;
  }

  .about h3 {
    text-align: left;
    padding-top: 1rem;
  }

  .recommendation {
    padding: 1rem;
    text-align: center;
  }

  .experience {
    max-width: 100%;
    padding: 0;
  }

  .experience h3 {
    text-align: center;
  }

  .licenses {
    padding: 0;
    margin: 1rem;
    padding-bottom: 0.5rem;
  
  }

  .licenses ul {
    margin: 0;
  }

  .technologies h3 {
    text-align: center;
  }

 .technologies .icons {
  padding: 1rem;
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Adjust size as needed */
    gap: 10px; /* Adjust gap between icons as needed */
    width: 100%;
    height: auto;
    animation: none; /* Disable animation on mobile for better performance */
  }

  .icons i {
    font-size: 2rem; /* Adjust the size as needed for mobile */
    margin: 10px; /* Remove margin for grid layout */
  }

  .projects {
    background-color: var(--marigold);
  }

  .outro h3,
  .redirect h3 {
    text-align: left;
  }

  .projects ul {
    display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  }

  .evergreen-card h2,
  .atlas-card h2 {
    font-weight: bold;
  }

  .contact .thankyou {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact .ty {
    font-size: 18px;
  }

  
 }
  
 