:root {
  --main-red :#00274D;
  --strawberry: #FEA498;
  --navlinks: #C6A1AC;
  --marigold: #E8E7D5;
  --teal: #AAC6B1;
}




/* Lusitana Font */
.lusitana-regular {
    font-family: "Lusitana", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lusitana-bold {
    font-family: "Lusitana", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  /* Roboto */
  
.roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

/* Castoro */
.castoro {
    font-family: "Castoro Titling", serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* Poppins */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Navbar */
nav {
  background-color: #025B94; /* Dark background */
  background-image: url('./media/light.jpeg');
  background-repeat: repeat-x;
  object-fit: cover;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
 
  
}

nav img {
  height: 50px; /* Adjust as needed */
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

body.light nav .dark {
  display: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1; /* Make sure ul takes full width */
  justify-content: space-around; /* Evenly spaces items */
  align-items: center;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
  color: white;
}

nav ul li a:hover {
  background-color: #BDD8E6; /* Soft Blush Pink background on hover */
  color: #2D4031!important; /* Dark Green text color */
}


/* Active Link Styles */
nav ul li a.active {
  text-decoration: underline;
  color: #92D1E4;
 
}

body.dark nav ul li a.active {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  
}
nav svg {
  padding-bottom: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    padding: 10px;
  }
}



/* Home */
/* Full Page Container */
.home-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

/* Header Section */
.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.portfolio-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: "#6B46C1";
}

.portfolio-header p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 5px;
  
 
}

/* Social Links */
.social-links {
  margin-top: 15px;
}

.social-icons a {
  font-size: 2rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #6b46c1!important;
}
/* Portfolio Links Section */
.portfolio-links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 30px;
}

/* Button Styles */
.portfolio-links a {
  display: inline-block;
  padding: 12px 20px;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.primary-btn {
  background: linear-gradient(135deg, #805ad5, #8fcce1 );
  color: white;
}

.primary-btn:hover {
  background: linear-gradient(135deg, #FCDDFC, #DAC9DB);
  transform: translateY(-3px);
  color: white;
}

.secondary-btn {
  background: white;
  color: #6b46c1;
  border: 2px solid #FCDFFF;
}

.secondary-btn:hover {
  background: #6b46c1;
  color: white;
  transform: translateY(-3px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .portfolio-links {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-links a {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .portfolio-links a {
    font-size: 1rem;
    padding: 10px 16px;
    width: 90%;
  }
}

/* About */
.about {
    padding: 1rem;
   
}
.intro-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 20px;
  background: #fdfdfd;
  border-radius: 8px;
  border-left: 4px solid #8fcce1; /* Elegant left border */
}

.intro-text {
  max-width: 900px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
  line-height: 1.8;
  padding-left: 20px;
  text-align: left;
  font-family: "Playfair Display", serif; /* Elegant serif font */
}

/* Smooth fade-in effect */
.intro-text {
  opacity: 0;
  transform: translateX(-10px);
  animation: fadeInLeft 0.8s ease-in-out forwards;
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Work Experience Section */
.experience {
  padding: 1rem;
  background-color: #f9f9f9;
}

.experience .h {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

/* Add a subtle bottom border for the title */
.experience .h::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #8fcce1;
  margin: 10px auto 0;
  border-radius: 2px;
}

/* Work Experience Cards */
.experience-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  justify-content: center;
}

/* Individual Work Experience Card */
.experience-card {
  background: white;
  border-radius: 12px;
  padding: 25px;
  text-align: left;  /* Align text to the left for better readability */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 5px solid #8fcce1; /* Adds a slight accent */
}

.experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Job Title */
.experience-card h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
}

/* Company Name & Dates */
.company {
  font-size: 1rem;
  color: #777;
  font-style: italic;
  margin-bottom: 12px;
}

/* education */

.education {
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  padding: 1rem;
  background-color: #f9f9f9;
  padding-top: 5px;

}

.education .h {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;  /* Aligning to the left */
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;
  padding-left: 10px;
}

/* Left-aligned underline */
.education .h::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #EDA3B9;
  margin-top: 5px;
  border-radius: 2px;
}


.education-card {
  background: white;
  border-left: 5px solid #EDA3B9;  /* Stylish left border */
  border-radius: 10px;
  padding: 20px 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: 320px; /* Slightly wider cards */
}

.education-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.education-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.education-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}
.quick-links {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.quick .h {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

/* Add a subtle bottom border for the title */
.quick .h::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #8fcce1;
  margin: 5px auto 0;
  border-radius: 2px;
}

.quick-links-container {
  display: flex;
  gap: 20px;
}

.quick-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(143, 204, 225, 0.4);
  text-align: center;
  border: 1px solid #BDD8E6;
  transition: transform 0.3s ease-in-out;
  width: 250px; /* Ensures equal card width */
}

.quick-card:hover {
  transform: translateY(-5px);
}

.quick-card svg {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.quick-card h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.quick-card a {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: #0077cc;
  border-bottom: 2px solid #0077cc;
  padding-bottom: 2px;
}

.quick-card a:hover {
  color: #0055aa;
  border-color: #0055aa;
}
   
/* Contact Section Styling */
.contact {
  padding: 1rem;
}

.contact .intro-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 20px;
  background: #fdfdfd;
  border-radius: 8px;
  border-left: 4px solid #8fcce1;
}

.contact-form {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.contact-form .h {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
}

.contact-form .h {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

/* Add a subtle bottom border for the title */
.contact-form .h::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #6B46C1;
  margin: 5px auto 0;
  border-radius: 2px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
  
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.contact-form button {
  background: #8fcce1;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  background: linear-gradient(135deg, #805ad5, #8fcce1);
}

.contact-form button:hover {
  background: #6aa9c9;
}

.contact-details {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.contact-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  width: 250px;
  border: 1px solid #FCDDFC;
  border-left: 3px solid #FCDDFC;;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.contact-card p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #555;
  border-bottom: 2px solid #8FCCE1;
  padding-bottom: 2px;
}

.contact-card svg {
  font-size: 2rem;
  color: #6b46c1;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.contact-card a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
 
}

/* Dark Mode Configuration */

button.toggle-mode {
color: white;
background-color: #574460;
border: 1px solid #574460;

}

button.toggle-mode:hover {
  color: var(--marigold);
  transition: all .2s ease-in-out;
  box-shadow: 0 0 10px white;
}

body.dark button.toggle-mode {
  color:  var(--strawberry);
  background-color: #3A2C40;
  border: 1px solid #3A2C40;
  
  }
  
 body.dark button.toggle-mode:hover {
    color: var(--teal);
    transition: all .2s ease-in-out;
    box-shadow: 0 0 10px var(--strawberry);
  }

body.dark {
  background-color: #0B1720;
  
}

/* Home */
body.dark nav {
  background-color: #3A2C40;
  background-image: url('./media/berries.jpeg');
  background-repeat: repeat-x;
}

body.dark nav .light {
  display: none;
}

body.dark nav ul li a {
  color:  var(--strawberry);
}

body.dark nav ul li a:hover {
  background-color: white; /* Soft Blush Pink background on hover */
  color: #0B1720; /* Dark Green text color */
}

body.dark .home {
  background-color: #0B1720;
}

body.dark .home h1 {
  color: white;
}

body.dark .home .cta-buttons a {
  background-color: #84B3C0;
  border: 2px solid white;
  color: #0B1720;
  font-weight: bold;
}

body.dark .home .cta-buttons a:hover {
  background-color: silver;
  color: white;
}

body.dark .social-links span {
  background-color: var(--teal);
  color: #0B1720;
  border: 2px solid white;
}

body.dark .social-links a {
  color: white;
}
body.dark .social-links a:hover {
  background-color: white;
  border: 1px solid var(--teal);
  color: #84B3C0;
  padding: 2px;
  border-radius: 5px;
}

body.dark h1 {
  color: white;
}

body.dark h3 {
  color: white;
}

body.dark .social-links a {
  color: white!important;
}

body.dark .social-links a:hover {
  color: var(--strawberry)!important;
}
body.dark p
 {
  color: #84B3C0;
}

body.dark .button-container a {
  color: var(--marigold);
}

body.dark .button-container a:hover {
  color: var(--navlinks);
}

body.dark .experience ul {
  color: #84B3C0;


}

body.dark .outro a {
  color: var(--strawberry);
}

body.dark .outro a:hover {
  color: var(--teal);
} 

body.dark .redirect a {
  color: var(--strawberry);
}

body.dark .redirect a:hover {
  color: var(--teal);
}

/* Cards Page  */
/* Dark Mode */
body.dark {
  background-color: #181818;
  color: #f0f0f0;
  font-family: "Arial", sans-serif;
}

body.dark .intro-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 20px;
  background: #2b2b2b;
  border-radius: 8px;
  border-left: 4px solid #8fcce1; /* Elegant left border */
}

body.dark .intro-text {
  max-width: 900px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #e0e0e0;
  line-height: 1.8;
  padding-left: 20px;
  text-align: left;
  font-family: "Playfair Display", serif;
}

body.dark .intro-text {
  opacity: 0;
  transform: translateX(-10px);
  animation: fadeInLeft 0.8s ease-in-out forwards;
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Work Experience Section */
body.dark .experience {
  padding: 1rem;
  background-color: #333;
}

body.dark .experience .h {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  color: #f0f0f0;
}

body.dark .experience .h::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #8fcce1;
  margin: 10px auto 0;
  border-radius: 2px;
}

body.dark .experience-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  justify-content: center;
}

body.dark .experience-card {
  background: #2b2b2b;
  border-radius: 12px;
  padding: 25px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 5px solid #8fcce1;
}

body.dark .experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
}

body.dark .experience-card h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #f0f0f0;
  margin-bottom: 5px;
}

body.dark .company {
  font-size: 1rem;
  color: #aaa;
  font-style: italic;
  margin-bottom: 12px;
}

/* Education Section */
body.dark .education {
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

body.dark .education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  padding: 1rem;
  background-color: #333;
  padding-top: 5px;
}

body.dark .education .h {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;
  padding-left: 10px;
  color: #f0f0f0;
}

body.dark .education .h::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #EDA3B9;
  margin-top: 5px;
  border-radius: 2px;
}

body.dark .education-card {
  background: #2b2b2b;
  border-left: 5px solid #EDA3B9;
  border-radius: 10px;
  padding: 20px 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  width: 320px;
}

body.dark .education-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
}

body.dark .education-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #f0f0f0;
}

body.dark .education-card p {
  font-size: 1rem;
  color: #bbb;
  line-height: 1.5;
}

/* Quick Links Section */
body.dark .quick-links {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

body.dark .quick .h {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  color: #f0f0f0;
}

body.dark .quick .h::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #8fcce1;
  margin: 5px auto 0;
  border-radius: 2px;
}

body.dark .quick-links-container {
  display: flex;
  gap: 20px;
}

body.dark .quick-card {
  background: #2b2b2b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(143, 204, 225, 0.4);
  text-align: center;
  border: 1px solid #BDD8E6;
  transition: transform 0.3s ease-in-out;
  width: 250px;
}

body.dark .quick-card:hover {
  transform: translateY(-5px);
}

body.dark .quick-card svg {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #f0f0f0;
}

body.dark .quick-card h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #f0f0f0;
}

body.dark .quick-card a {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: #8fcce1;
  border-bottom: 2px solid #8fcce1;
  padding-bottom: 2px;
}

body.dark .quick-card a:hover {
  color: #5f88a1;
  border-color: #5f88a1;
}

/* Dark Mode */
body.dark .contact {
  padding: 1rem;
}

body.dark .contact .intro-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 20px;
  background: #2c2c2c;
  border-radius: 8px;
  border-left: 4px solid #8fcce1;
}

body.dark .contact-form {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

body.dark .contact-form .h {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  color: #f0f0f0;
}

/* Add a subtle bottom border for the title */
body.dark .contact-form .h::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #6B46C1;
  margin: 5px auto 0;
  border-radius: 2px;
}

body.dark .contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

body.dark .contact-form input,
body.dark .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #3c3c3c;
  color: #f0f0f0;
}

body.dark .contact-form button {
  background: #8fcce1;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  background: linear-gradient(135deg, #805ad5, #8fcce1);
}

body.dark .contact-form button:hover {
  background: #6aa9c9;
}

body.dark .contact-details {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

body.dark .contact-card {
  background: #3c3c3c;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  width: 250px;
  border: 1px solid #555;
  border-left: 3px solid #555;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.dark .contact-card:hover {
  transform: translateY(-5px);
}

body.dark .contact-card p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #f0f0f0;
  border-bottom: 2px solid #8FCCE1;
  padding-bottom: 2px;
}

body.dark .contact-card svg {
  font-size: 2rem;
  color: #6b46c1;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.dark .contact-card a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
}

